.customElement#questionnaire {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#questionnaire > .header {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(95%);
  height: calc(8vh);

  margin: 10px 0px 5px 0px;
  padding: 0px 20px 0px 20px;

  border: none;
  border-radius: 25px;
  background: rgba(15, 15, 15, 0.9);

  z-index: 1;
}

.customElement#questionnaire > .header > .search {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;

  width: calc(80%);
  height: calc(50%);

  border-radius: 30px;
  background: #4d4d4d;
}

.customElement#questionnaire > .header > .search > .glass {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  margin: 5% 0% 0% 0%;
  padding: 0px;

  width: calc(7%);
  height: calc(50%);

  background: none;
}

.customElement#questionnaire > .header > .search > .input {
  outline: none;
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: baseline;
  align-items: center;

  margin: 0px;
  padding: 0px;

  width: calc(85%);
  height: calc(70%);
  border: none;
  background: none;
}

.customElement#questionnaire > .header > .multiple {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
  cursor: pointer;

  width: calc(8%);
  height: calc(50%);

  border-radius: 0px;

  text-decoration: none;
  background: none;
  border: none;
}
.customElement#questionnaire > .header > .filters:hover:not(:active) {
  background: none;
}
.customElement#questionnaire > .header > .filters:hover:active {
  top: 2px;
}

.customElement#questionnaire > .list {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: center;
  align-items: left;

  width: auto;
  height: auto;

  background: #4d4d4d;
}
