.customElement#requests {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}


.customElement#requests  > .blacker {
  position: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;
    
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  justify-content: center;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  border-radius: 0px;
  background: rgba(15, 15, 15, 0.9);

  z-index: 999;
}
.customElement#requests  > .blacker > .meny {
  position: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
    
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: calc(80%);
  height: calc(70%);

  border-width: 1px;
  border-style: solid;
  border-color: #777777;

  border-radius: 25px;
  background: #0f0f0f;
  z-index: 1000;
  transform: translateY(calc(-8%));
}


.customElement#requests  > .blacker > .meny > .head {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: right;
  align-items: center;

  width: calc(100%);
  height: calc(9%);

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  background: none;
  z-index: 1001;
}

.customElement#requests  > .blacker > .meny > .head::after {
  position: absolute;
  top: 99%;
  left: 0%;
  display: block;
  content: '';
  width: calc(100%);
  height: calc(1px);
  margin: 0px;
  padding: 0px;
  border: none;
  background: rgb(119, 119, 119);
  transform: translateX(-50%);
  transform: translateY(-100%);
  z-index: 1001;
}



.customElement#requests  > .blacker > .meny > .head > .textContainer {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;
  background: none;
  color: #bdbbbb;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 4%;

  width: calc(100%);
  height: calc(100%);

  flex-direction: row;
  justify-content: left;
  align-items: center;

}

.customElement#requests  > .blacker > .meny > .head > .textContainer > .text {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;
  
  width: calc(100%);
  height: calc(100%);

  font-size: 5vw;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: none;
}


.customElement#requests  > .blacker > .meny > .head > .close {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0px, 10%, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;

  width: calc(12%);
  height: calc(60%);

  color: #777777;

  border-radius: 0px;
  padding: 0;
  border: none;
  background: none;
}

.customElement#requests  > .blacker > .meny > .settings {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  margin: 0;
  padding: 1vh 1vw 1vh 1vw;

  width: calc(100%);
  height: calc(82%);

  background: none;
  overflow: auto;

  z-index: 1001;
}
.customElement#requests  > .blacker > .meny > .settings > .switch {
  margin: 0% 0% 2% 0%;
  padding: 0px 0px 0px 0px;
}




.customElement#requests > .blacker > .meny > .footer {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;


  background-color: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1vh 1vw 2vh 1vw;
  width: calc(100%);
  height: auto;
  background: none;
  bottom: 0;
}

.customElement#requests > .blacker > .meny > .footer::after {
  position: absolute;
  bottom: 100%;
  left: 0%;
  display: block;
  content: '';
  width: calc(100%);
  height: calc(1px);
  margin: 0px;
  padding: 0px;
  border: none;
  background: rgb(119, 119, 119);
  transform: translateX(-50%);
  transform: translateY(-100%);
  z-index: 1001;
}



.customElement#requests > .blacker > .meny > .footer > button {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0px, 0px, 0px, 0px;
  padding: 0px, 0px, 0px, 0px;

  width: auto;
  height: auto;

  color: #bdbbbb;
  font-size: 3vw;
  
  border-width: 1px;
  border-style: solid;
  border-color: #777777;

  border-radius: 25px;
  background: none;
  
}
.customElement#requests > .blacker > .meny > .footer > button:hover:active {
  top: 1px;
}





.customElement#requests > .header {
  position: fixed;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(95%);
  height: calc(8vh);

  margin: 10px 0px 5px 0px;
  padding: 0px 20px 0px 20px;

  border: none;
  border-radius: 25px;
  background: rgba(15, 15, 15, 0.9);

  z-index: 998;
}

.customElement#requests > .header > .search {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;

  width: calc(80%);
  height: calc(50%);

  border-radius: 30px;
  background: rgba(77, 77, 77, 0.9);
}

.customElement#requests > .header > .search > .glass {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  margin: 5% 0% 0% 0%;
  padding: 0px;

  width: calc(7%);
  height: calc(50%);

  background: none;
}

.customElement#requests > .header > .search > .input {
  outline: none;
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: row;
  justify-content: baseline;
  align-items: center;

  margin: 0px;
  padding: 0px;

  width: calc(85%);
  height: calc(70%);
  border: none;
  background: none;
}

.customElement#requests > .header > .multiple {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
  cursor: pointer;

  width: calc(8%);
  height: calc(50%);

  border-radius: 0px;

  text-decoration: none;
  background: none;
  border: none;
}
.customElement#requests > .header > .multiple:hover:not(:active) {
  background: none;
}
.customElement#requests > .header > .multiple:hover:active {
  top: 2px;
}


.customElement#requests > .list {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: center;
  align-items: left;

  width: 95%;
  height: auto;
  border-radius: 20px;

  padding: 0%;
  margin: calc(10vh);

  background: rgba(15, 15, 15, 0.9);
}



