.customElement#profile > .main > .content > .info > .roles > .role {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: max-content;
  height: calc(100%);

  margin: 0px 5px 0px 5px;
  padding: 2px 8px 2px 8px;

  border: none;
  border-radius: 15px;
  background: none;

  overflow: visible;

  z-index: 1;
}
.customElement#profile > .main > .content > .info > .roles > .role:first-child {
  margin: 0px 5px 0px 0px;
}

.customElement#profile > .main > .content > .info > .roles > .role > .marker {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(6px);
  height: calc(6px);

  margin: 0px 2px 0px 2px;
  padding: 0px;

  border: none;
  border-radius: 50%;
  background: none;

  z-index: 1;
}

.customElement#profile > .main > .content > .info > .roles > .role > .name {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: max-content;
  height: calc(100%);

  margin: 0px 5px 0px 5px;
  padding: 1px 2px 1px 2px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#profile > .main > .content > .info > .roles > .role > .name > span {
  color: rgba(180, 180, 180, 0.8);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 3vw;
  line-height: 3vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 10%);
}
