@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Days+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

html,
body,
#root {
  position: absolute;
  display: block;

  width: calc(100%);
  height: calc(100%);

  margin: 0%;
  padding: 0%;

  border: none;
  background: none;
  background: rgba(77, 77, 77, 1);

  overflow: hidden;
}

.main {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  overflow: hidden;

  z-index: 0;
}

.main > .content {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 0;
}
.main > .content::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.main > .content::-webkit-scrollbar-track {
  display: none;
}
.main > .content::-webkit-scrollbar-thumb {
  display: none;
}

*[no-select='true'] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
